{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}

    Meu Perfil - {{ block.super }}   

{% endblock title %}

{% block body %}
    
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Meu Perfil</h1>
        <div class="btn-group mr-2">
            <a href="#" class="btn btn-sm btn-outline-secondary">Editar</a>
        </div>
    </main>

    <div id="containerForm">     
        <div id="containerForm">     
            <div class="media-body">
                <h5 class="mt-0">{{ profile.user.get_full_name }}</h5>
                <p>Primeiro: {{ profile.cell_phone }}</p>
            </div>
        </div>    
    </div>

{% endblock body %} 