{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}

    Novo Projeto - {{ block.super }}   

{% endblock title %}

{% block body %}
    
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Novo Projeto</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
    </main>

    <div id="containerForm">     
        <form action="." method="POST">            
        {% csrf_token %}
        
            <div class="form-group">
                <label for="{{ form.nome_projeto.id_for_label }}">Nome do projeto:</label>
                {{ form.nome_projeto|add_class:"form-control"}}

            </div>
            <div class="form-group">
                <label for="{{ form.local.id_for_label }}">CEP:</label>
                {{ form.local|add_class:"form-control" }}
            </div>
            <div class="form-group">
                <label for="{{ form.media_anual.id_for_label }}">Média anual de consumo:</label>
                {{ form.media_anual|add_class:"form-control" }}
                <small id="media_anual_unidade" class="text-muted">
                    Disponível na fatura de energia. Valor em kWh.  
                </small>                       
            </div>
            <div class="form-grpup">
                <label for="">Tipo de ligação:</label>
                {{ form.type|add_class:"form-control" }}
            </div>
          
              
            <button type='submit'  style="margin-top: 15px;" class="btn btn-primary">Simular</button>

            
        </form>
    </div>

{% endblock body %} 